
.Contenedor-base{
     
    height: 100vh;
    width: 100vw;
     
}

a:hover{ /*Cuando se le pase el raton encima*/

    color: pink;
    
    }

    .btn-danger{

        border-color: #FF9494;
        background-color: #FF9494;
        margin-right: 10px;
        
        }

        a{

            text-decoration: none;
            color: black;
        
        }

