.btn-danger{
	border-color: #FF9494;
	background-color: #FF9494;
	margin-right: 10px;
}.btn-danger{
	border-color: #FF9494;
	background-color: #FF9494;
	margin-right: 10px;
}

#Barra{
	width: 50%;
	height: 100%;
	
	display: flex;
	justify-content: center;
	align-items: center;
}

#userName{

	margin-bottom: 20%;
	font-size: 100%;

}

#profilePic{

	width: 40px;
	height: 40px;

}

.Div_FI{
	margin-left: 1%;
	margin-right: 1%;
}

.Div_FF{
	margin-left: 1%;
	margin-right: 1%;
}

#F_Ini{
	text-decoration:none;
	
	font-family: sans-serif;
	font-weight:bolder;
	
	font-size: 100%;
	font-stretch: condensed;
	color: #FD6F96;
}

#F_Fin{
	text-decoration:none;
	
	font-family: sans-serif;
	font-weight:bolder;
	
	font-size: 100%;
	font-stretch: condensed;
	color: #FD6F96;
}

.Barra-navegacion{
	position: fixed;
	
	width: 100%;
	height: 10%;
	
	background-color: #FF9494;
	
	display: flex;
	justify-content: center;
	align-items: center;
}

#Busqueda_Etiquetas > input{
	height: 50%;
	width: 90%;
	border-color: #FFEBA1;
	border-width: 3px;
}

#Fecha_Inicio{
	margin-left: 2px;
	border-color: white;
	height: 50%;
	width: 10%;
	background: white;
}

#Fecha_Final{
	margin-left: 2px;
	border-color: white;
	height: 50%;
	width: 10%;
	background: white;
}

#Barra > input{
	height: 50%;
	width: 95%;
	
	background-color: #FFE3E1;
	border-color: #FFE3E1;
	
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}

body{
	display: flex;
	flex-direction: column;
	
	margin: 0;
	padding: 0;
	background-color:#FFF5E4;
	
	min-height: 100vh;
}

.Foto_perfil{
	width: 15%; 
	margin-top: 3%;
}

.Foto_perfil > a{
	display: flex;
	flex-direction: row;
	align-items: center;
}

.Foto_perfil > a > img{
	margin-right: 5%;
	
	width: 30%;
	height: 10%;
	border-radius: 50%;
}

.Foto_perfil > a > div{
	margin-right: 5%;
	
	width: 10%;
	height: 40%;
	border-radius: 50%;
}

.Foto_perfil > a {
	text-decoration:none;
	margin-left: 5%;
	
	font-family: sans-serif;
	font-weight:bolder;
	
	font-size: 100%;
	font-stretch: condensed;
	color: #FFF5E4;
}

#btn_Añadir > button{
	display: flex;
	justify-content: center;
	align-items: center;
	
	width: fit-content;
	height: 75%;
	
	border: none;
	border-radius: 15px;
	margin-bottom: 0px;
	
	padding-left: 20px;
	padding-right: 20px;
	background: #FD6F96;
	color: #FFEBA1;
	
	font-family: sans-serif;
	font-size: 15px;
	font-weight: bolder;
}

#btn_Añadir{
	display: flex;
	
	justify-content: center;
	align-items: center;
	
	width: 100%;
	height: 10%;
	
	background-color:#FFEBA1;
}

#btn_Cerrar_sesion{
	width: 15%;
	
	margin-right: 1%;
	margin-left: 1%;
}

#btn_Cerrar_sesion > button{
	width: fit-content;
	height: 65%;
	
	border: none;
	border-radius: 15px;
	margin-bottom: 0px;
	
	padding-left: 1.5px;
	padding-right: 1.5px;
	background: #FD6F96;
	color: #FFEBA1;
	
	font-family: sans-serif;
	font-size: 20px;
	font-weight: bolder;
}

button{
	cursor: pointer;
}

.Publicaciones{

	width: 100%;
	height: 100%;

	display: flex;
	justify-content:center;
	align-items:center;
	
	flex-direction: column;
}

.Publicaciones > a{
	text-decoration:none;
	
	display: flex;
	justify-content:center;
	align-items:center;
}

.Nombre_Usuario{
	display: flex;
	justify-content:center;
	align-items:center;
	color: black;
	
	font-size: 25px;
	background-color: #FF9494;
	width: 100%;
	border-radius: 10px;
}

.Titulo_Publicacion{
	margin-top: 10px;
	
	display: flex;
	justify-content:center;
	align-items:center;
	color: black;
	
	width: 100%;
	
	background-color: #FF9494;
	border-radius: 10px;
}

footer {
	font-family: sans-serif;
	font-weight:bolder;
	
	font-size: 90%;
	font-stretch: condensed;
	color: #FF9494;
	
	display: flex;
	justify-content: space-between;
	
	width: 100%;
	
	margin-top: auto;
	
	background-color: #FFF5E4;
 }

input{
	width: 100%;
	height: 100%;
	
	border-radius: 8px;
	border-color: white;
	
	background: white;
	cursor:text;
}

#Logo{
	display: flex;
	width: 5%;
	height: 100%;
	min-width: max-content;
	align-items: center;
	justify-content: flex-end;
	
	background-color: #6F69AC;
}

.Logo-web{
	font-family: sans-serif;
	font-weight:bolder;
	
	font-size: 150%;
	font-stretch: condensed;
	color: #FFF5E4;
}

.mainContenedor{
	display: flex;
	
	flex-direction: column;
	
	justify-content: center;
	align-items: center;
	padding-top: 4.5%;
	
	width: 100%;
	height: 110%;
	
	background-color: #FD6F96;
}

.Paginacion{
	display: flex;
	justify-content: center;
	align-items: center;
	
	height: 10%;
	width: 100%;
}

.Paginacion ul{
	list-style: none; /*Para que mp aparezcan los circulos en la lista*/
	
	display: flex; /*Crea cajas que son de bloque y en línea de forma simultánea*/
	flex-direction: row;
	
	justify-content: center;
	align-items: center;
	
	background-color: #FD6F96;
	
	height: 100%;
	width: 100%; 
}

.Paginacion ul li{
	display: flex;
	justify-content: center;
	align-items: center;
	
	background-color: #FFEBA1;
	font-family: sans-serif;
	font-weight: bolder;
	font-size: 18px;
	
	width: 3%;
	height: 40%;
	
	margin-right: 20px;
	border: none;
	border-radius: 15px;
	cursor: pointer;
}

.Paginacion ul li a{
	text-decoration: none;
}

.Publicaciones_Recientes{
	padding-top: 6%;
	
	display: flex;
	flex-basis: 0;
	flex-grow: 999;
	min-width: 60%;
	
	justify-content: center;
	align-content: center;
	
	flex-direction: column;
	/*
	width: 100%;
	height: 100%;
	*/
	background-color: #FFF5E4;
}

.Publicaciones-Perfil{
	display: flex;
	flex-basis: 0;
	flex-grow: 999;
	min-width: 60%;
	
	justify-content: center;
	align-content: center;
	
	flex-direction: column;
	
	/*
	width: 100%;
	height: 100%;
	*/
	 background-color: #FFF5E4;
}

#btn_Guardar > button{
	display: flex;
	justify-content: center;
	align-items: center;
	
	width: 25%;
	height: 55%;
	
	border: none;
	border-radius: 15px;
	margin-bottom: 0px;
	
	padding-left: 20px;
	padding-right: 20px;
	background: #6F69AC;
	color: #FFEBA1;
	
	font-family: sans-serif;
	font-size: 25px;
	font-weight: bolder;
}

#btn_Guardar {
	display: flex;
	box-sizing:border-box;
	justify-content: flex-end;
	align-items: center;
	
	padding-right: 5%;
	
	width: 100%;
	height: 10%;
	
	background-color:#FD6F96;
}

#btn_Borrar{
	display: flex;
	box-sizing:border-box;
	justify-content: flex-end;
	align-items: center;
	
	padding-right: 5%;
	
	width: 100%;
	height: 10%;
	
	background-color:#FD6F96;
}

#btn_Borrar > button{
	display: flex;
	justify-content: center;
	align-items: center;
	
	width: 25%;
	height: 55%;
	
	border: none;
	border-radius: 15px;
	margin-bottom: 0px;
	
	padding-left: 20px;
	padding-right: 20px;
	background: #6F69AC;
	color: #FFEBA1;
	
	font-family: sans-serif;
	font-size: 25px;
	font-weight: bolder;
}

.Creacion_Nota{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	width: 100%;
	height: 100%;
}

#d_Nota{
	display: flex;
	
	justify-content: center;
	align-items: center;
	
	height: 80%;
	width: 90%;
}

#d_Nota >textarea{
	width: 100%;
	height: 100%;
	box-sizing: border-box; 
	
	resize: none;
	white-space:pre-wrap;
	
	padding-top: 10px;
	padding-left: 10px;
	
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-color: rgb(95, 95, 95);
	
	border-top-width: 8px;
	border-left-width: 8px;
	
	background: white;
	cursor:text;
	
	font-size: 20px;
}

#det_Nota-Container{
	width: 100%;
	height: 90%;
	
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	background-color:#FFEBA1;
}

#d_Titulo{
	display: flex;
	
	justify-content: center;
	align-items: center;
	
	height: 10%;
	width: 90%;
}

#d_Titulo > input{
	width: 100%;
	height: 70%;
	
	border-radius: 8px;
	border-color: white;
	
	background: white;
	cursor:text;
	
	font-size: 40px;
}

.Publicacion{
	text-decoration:none;
	
	width: 100%;
	height: 100%;

	width: 800px;
	height: 250px;
	
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	
	background-color: #FF9494;
	
	text-align: center;
	color: aliceblue;
	
	border-color: white;
	
	margin: 1%;
	padding: 2%;
	
	border-color: #FD6F96;
	
	border-radius: 15px;
}

.Publicacion2{
	text-decoration:none;
	
	width: 100%;
	height: 100%;

	width: 800px;
	height: 500px;
	
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	
	background-color: #FF9494;
	
	text-align: center;
	color: aliceblue;
	
	border-color: white;
	
	margin: 1%;
	padding: 2%;
	
	border-color: #FD6F96;
	
	border-radius: 15px;
}

.btn-danger{
	border-color: #FF9494;
	background-color: #FF9494;
	margin-right: 10px;
}

#Añadir_Publicacion{
	width: 500px;
}

#Img_perfil_publicacion{

	margin-left: 0px;

	width: 45px;
	height: 45px;
	margin-right: 1%;
}

.Contacto{
	color: black;
}

a:hover{ /*Cuando se le pase el raton encima*/
	color: #FFD1D1;
}