.Comentario{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
}

.Reseña{
	margin-left: 20px;
	margin-top: 10px;
}

.Usuario{
	margin-left: -150px;
	color: rgb(109, 109, 109);
}

.Reseñas{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	margin-top: 3%;
}

.contenedor{
	background-color: #FF9494;
	width: 600px;
	height: 120px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 20px;
}

.contenedor-2{
	margin-top: 1%;
	width: 80%;
	height: auto;
	background-color: #FF9494;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	padding: 30px 20px 30px 20px;
	gap: 20px;
	text-transform: capitalize;
	border-radius: 20px;
}

.comentario{
	background-color: #FF9494;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 0 0 0 20px;
	border-radius: 20px;
	color: white;
}

.contenedor-agg-com{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.imagen-usuario{
	width: 80px;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

img{
	width: 50px;
}

.input-com{
	width: 500px;
	height: 100px;
	background: none;
	display: flex;
	flex-direction: column;
	justify-content: baseline;
	gap: 5px;
}

#nuevoComentario{
	outline:none;
	border:0;
	width: 100%;
	height: 50px;
	padding: 0px 10px 0px 10px;
	font-size: 15px;
	background-color: transparent;
	color: white;
	border-bottom: 2px solid rgba(255, 255, 255, 0);
	transition-duration: 200ms;
}

#nuevoComentario::placeholder{
	color: white;
}

#nuevoComentario:focus{
	border-bottom: 2px solid #FF9494;
}

.btn-agg{
	height: 80px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 0px 5px 0px 0px;
}

button{
	display: flex;
	justify-content: center;
	align-items: center;
	
	padding: 22px 20px 22px 20px;
	border-radius: 20px;
	border: 0;
	outline: none;
	font-size: 15px;
	cursor: pointer;
	
	color: white;
}

.close{
	font-size: 12px;
	position: absolute;
	right: 150px;
	width: 20px;
	z-index: 20;
	transition-duration: 200ms;
	display: block;
	cursor: pointer;
	color: aliceblue;
}